html, body {
    height: 100vh;
    overflow: hidden;
}
* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto';
    margin: 0;
    min-height: 100vh;
    margin-right: 25%;
    margin-left: 25%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    padding-bottom: 48px;
    padding-top: 24px;
}

header,
.demo {
    padding-left: 128px;
    padding-right: 128px;
    padding-bottom: 50px;
}

.demo img {
    width: 400px;
    height: 200px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 32px;
}

.demo p,
li {
    font-size: 18px;
    color: #E5E7EB;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

button,
.sub-box {
    background-color: #3882F6;
}

button {
    max-width: 100px;
    padding: 4px 8px;
    border-radius: 9%;
    border-color: transparent;
    color: white;
}

header,
.demo {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.demo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.demo-text {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: flex-start;
    flex: 1;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 100px;
}

.card img {

    border: 1px solid blue;
    max-width: 100px;
    border-radius: 6%;
}

.quote {
    padding: 85px 300px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quote strong {
    margin-top: -30px;
    align-self: flex-end;
}

.sub-box {
    display: flex;
    align-self: center;
    margin-top: 60px;
    padding: 4px 16px;
    border-radius: 15px;
}
.action h3 {
    color: #f9faf8;
}

.action div {
    color:#E5E7EB;
}

.action {
    padding: 8px;
    width: 650px;
}

#signup2 {
    border-color: white;
    height: 40px;
    align-self: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #1F2937;
    flex-shrink: 0;
    min-height: 75px;
    margin-top: 50px;
    color:#E5E7EB;
}

